<{include file='mobile:block/header.html'}>
<!--头部开始-->
	<div class="mobile_top">
    	<div class="mobile_top_son">
        	<a href="javascript:window.history.go(-1);" class="detail-first"><img src="images/back_bg.png" width="10"/></a>
            <div class="detail-second">下载优惠券</div>
        </div>
    </div>
    <div class="h45"></div>
<!--头部结束-->
<!--主题部分开始-->
	<div class="mobile_main hauto">
    	<div class="mobile_tenders">
        	<form id='tenders_form'>
            	<table>
                    <tr>
                        <td><h2><{$coupon.title}></h2></td>
                    </tr>
                    
              
                	<tr>
                    	<td><i>*</i>&nbsp;&nbsp;你的姓名</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="public_text" value=""  name="data[cantact]"/></td>
                    </tr>
                    <tr>
                    	<td><i>*</i>&nbsp;&nbsp;你的联系方式</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="public_text" value=""  name="data[mobile]"/></td>
                    </tr>
                    
                   
                    
                    <tr id='showErr' style="display: none;">
                        <td style="text-align: center;" ><font id="showTxt" style=" color: red; font-size: 14px;"></font></td>
                    </tr>
                    <tr>
                    	<td height="60"><input type="button" id='tender_submit' class="public_text1" value="立刻下载"/></td>
                    </tr>
                    
                </table>
            </form>
        </div>
        <div class="fabu_ok_bg " style="display: none;">
            <div class="fabu_ok">
                <h3>
                    <img src="images/renzhen.png" alt="成功">恭喜您下载成功！
                </h3>
                <p>稍后您的专职装修管家将与您联系，为您讲解装修流程和相关注意事项，装修过程中遇到的任何问题都可以咨询您的专职装修管家。服务热线:<{$CONFIG.site.phone}></p>
                <input type="button" class="public_text1" id='wozhidao' value="我知道了"/>
            </div>
        </div>
        <div class="h45"></div>
	</div>
<!--主题部分结束-->

<script type="text/javascript">
    var lock = 0;
    (function(K, $) {
        function showmsg(message){
            $("#showErr").show();
            $('#showTxt').html(message);
        }
        $("#tender_submit").click(function(){
          if (lock == 0) {    
                lock = 1;
                $.post("<{link ctl='shop:downloads' arg0=$coupon.coupon_id}>",$("#tenders_form").serialize(),function(ret){
                        if(ret.error){
                            lock = 0 ;
                            showmsg(ret.message);
                        }else{ 
                            $(".fabu_ok_bg").show();     
                            $(".mobile_tenders").hide();
                        }
                    },'json');
            }
            
        });
        
        $("#wozhidao").click(function(){
            window.location='<{link ctl="index"}>';
        });
       
    })(window.KT, window.jQuery);
</script>
<{include file='mobile:block/footer.html'}>

