<{include file='mobile:block/header.html'}>
<!--头部开始-->
	<div class="mobile_top">
    	<div class="mobile_top_son">
        	<a href="<{link ctl='index'}>" class="detail-first"><img src="images/back_bg.png" width="10"/></a>
            <div class="detail-second">404</div>
        </div>
    </div>


 
<!--头部结束-->
<article class="errowbg">
<section>
	<br>
	<div>
    	<div class="errow">
        	<p>该活动已经结束或没有通过审核！！ </p>
            <span><a href="<{link ctl='index'}>">返回首页</a><a href="javascript:window.history.go(-1);">返回上一页</a></span>
        </div>
    </div>
</section>
</article>
<{include file='mobile:block/footer.html'}>

