<{foreach $companys as $company}>
<li>
    <div class="mobile_tuan_b_all">
        <a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>"><img src="<{$pager.img}>/<{$company.square_logo}>" width="68" height="55"/></a>
        <div class="mobile_tuan_b_all_r lt">
            <h4>
                <a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>" class="block_lt"><{$company.sort_name}></a>
                <span class="block rt">

                    <i class="block_lt ico <{if $company.is_vip}>i2<{else}>i22<{/if}>"></i>
                    <{if !empty($company.orderby)}>
                    <i class="block_lt" style=" color: red;">推广</i>
                    <{/if}>
                </span> 
            </h4>
            <!--如若没有加入旗舰店和证书，则将i1和i2换成i11和i22则图标则会变灰色-->
            <div class="cl"></div>
            <p class="mt10">
                <span class="block_lt ico span_map"></span>
                <span class="block_lt"><a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>" ><{$company.addr|cutstr:27:'..'}></a></span>
            </p>
            <div class="cl"></div>
            <p class="mt7">
                <span class="block_lt span1 span2"><b>保障金&nbsp;:&nbsp;</b>￥<{$company.security}></span>
                <span class="block_lt span1"><b>案例&nbsp;:&nbsp;</b><{$company.case_num}></span>
                <span class="block_lt span1"><b>工地&nbsp;:&nbsp;</b><{$company.site_num}></span>
            </p>
        </div>
    </div>
</li>
<{/foreach}>