<article class="floating">
    <a class="left" href="tel:<{$CONFIG.site.phone}>" onclick="te('Click_Act_Phone_v2');">咨询:<span class="button_red"><{$CONFIG.site.phone}></span></a>
    <a class="right footer_nav"><img src="images/footer_nav.png" alt="导航" /></a>
    <a class="right button_red" href="<{link ctl='tenders'}>">免费招标</a>
    <nav>
        <a href="<{link ctl='index'}>">首页</a>
        <a href="<{link ctl='case'}>">装修案例</a>
        <a href="<{link ctl='company'}>">找公司</a>
        <a href="<{link ctl='site'}>">找工地</a>
        <a href="<{link ctl='youhui'}>">优惠活动</a>
        <span></span>
    </nav>
</article>