<{include file='mobile:block/header.html'}>
<!--头部开始-->
	<div class="mobile_top">
    	<div class="mobile_top_son">
        	<a href="<{link ctl='index'}>" class="detail-first"><img src="images/back_bg.png" width="10"/></a>
            <div class="detail-second">找公司<i><a href="<{link ctl='city'}>"><{$request.city.city_name}></a>&nbsp;<img src="images/xia_white_ico.png" /></i></div>
        </div>
    </div>
   <div class="h45"></div>
<!--头部结束-->
<!--导航开始-->
    <div class="mobile_photo">
        	<ul class="mobile_photo_menu">
            	<li>
                    <a href="javascript:;" class="personal_menu_a">区域</a>
                    <ul class="mobile_photo_son none">
                        <{foreach $area_list  as $v}>
                         <li> <a  title="<{$v.area_name}>装修公司" href="<{$v.link}>"><{$v.area_name}></a></li>
                        <{/foreach}>
                    </ul>
                </li>
                 <{foreach from=$attr_values item=item name=loop}>
        <{if $smarty.foreach.loop.index < 2}>
        <li>
            <a href="<{$item.link}>" class="personal_menu_a"><{$item.title}></a>
            <ul class="mobile_photo_son none">

                <{foreach $item.values as $item2}>
                <li> <a href="<{$item2.link}>" ><{$item2.title}></a></li>
                <{/foreach}>
            </ul>
        </li>
        <{/if}>
        <{/foreach}>
            </ul>
        </div>
<!--导航结束-->
<div class="cl"></div>
<!--主题部分开始-->
<script>
    $(document).ready(function() {
        $(".mobile_photo_menu li").hover(
                function() {
                    $(this).find(".personal_menu_a").addClass("current2");
                    $(this).find(".mobile_photo_son").show();
                },
                function() {
                    $(this).find(".personal_menu_a").removeClass("current2");
                    $(this).find(".mobile_photo_son").hide();
                }
        );
    });
</script>
    <div class="mobile_main hauto"> 
    	<div class="mobile_tuan">
            <div class="mobile_tuan_b mobile_company_0">
            	<ul>
                       <{foreach $companys as $company}>
                	<li>
                    	<div class="mobile_tuan_b_all">
                            <a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>"><img src="<{$pager.img}>/<{$company.square_logo}>" width="68" height="55"/></a>
                            <div class="mobile_tuan_b_all_r lt">
                            	<h4>
                                	<a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>" class="block_lt"><{$company.sort_name}></a>
                                    <span class="block rt">
                                    	
                                        <i class="block_lt ico <{if $company.is_vip}>i2<{else}>i22<{/if}>"></i>
                                        <{if !empty($company.orderby)}>
                                        <i class="block_lt" style=" color: red;">推广</i>
                                        <{/if}>
                                    </span> 
                                </h4>
                                <!--如若没有加入旗舰店和证书，则将i1和i2换成i11和i22则图标则会变灰色-->
                                <div class="cl"></div>
                                <p class="mt10">
                                	<span class="block_lt ico span_map"></span>
                                    <span class="block_lt"><a title="<{$company.name}>" href="<{link ctl='company:detail' arg0=$company.company_id}>" ><{$company.addr|cutstr:27:'..'}></a></span>
                                </p>
                                <div class="cl"></div>
                                <p class="mt7">
                                	<span class="block_lt span1 span2"><b>保障金&nbsp;:&nbsp;</b>￥<{$company.security}></span>
                                    <span class="block_lt span1"><b>案例&nbsp;:&nbsp;</b><{$company.case_num}></span>
                                    <span class="block_lt span1"><b>工地&nbsp;:&nbsp;</b><{$company.site_num}></span>
                                </p>
                            </div>
                        </div>
                    </li>
                     <{/foreach}>
                </ul>
        	</div>
            <div id="jq_loding" style=" height: 20px; text-align: center; "></div>
        </div>
        <div class="h45"></div>
 
    </div>
    <script>
        var num = 1;
        var nextpage = '<{$nextpage}>';
        var lock  = 0;
	  $(document).ready(function(){       
          $(window).scroll(function(){              
            if(!lock && $(window).scrollTop() ==$(document).height() - $(window).height()  ){
                lock = 1;
                num++;
                var link = nextpage.replace('{page}',num);
                $("#jq_loding").html('正在加载中...');
                $.get(link,function(data){
                    if(data != 0){
                        $("#jq_loding").html('');
                        $(".mobile_tuan_b ul").append(data);              
                        lock = 0;
                    }else{
                        
                        $("#jq_loding").html('没有数据了.....');
                    }
                },'html');
            }           
        });

	  });
   </script>
<!--主题部分结束-->

 <{include file='mobile:block/footer.html'}>